aiohttp
aiofiles
apscheduler
asyncio
beautifulsoup4
canvas
cloudscraper
cryptography
dnspython
fuzzywuzzy
gspread
httpx
motor[srv]
oauth2client
opencv-python
pillow
psutil
psycopg2-binary
pytesseract
pykeyboard
pyrogram
pytgcalls==0.8.2
tgcalls==0.8.0
python-dotenv
markdown2
python-arango
python-magic
requests
spamwatch
telethon
tgcrypto
yt-dlp
