aiohttp
aiofiles
apscheduler
asyncio
beautifulsoup4
canvas
cloudscraper
cryptography
dnspython
fuzzywuzzy
gspread
httpx
motor
motor[srv]
oauth2client
opencv-python
pillow
psutil
psycopg2-binary
py-tesseract
pykeyboard
pyrogram
pytgcalls
python-dotenv
markdown2
python-arango
python-magic
requests
spamwatch
telethon
tgcrypto
youtube-dl
yt-dlp
